#button {
    background-color: rgb(184, 20, 20);
   
    width: 300px;
    height: 50px;
   

    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    background-color: rgb(233, 15, 149);
    color: rgb(244, 248, 248);
   border-radius: 10px;
   
}

#button2{
    background-color: rgb(75, 10, 224);
    color: rgb(240, 243, 243);
    text-align: center;
    width: 230px;
    height: 40px;

    margin: auto;
    margin-top: 30px;
    margin-left: 45%;
    border-radius: 10px;
}

#num1 {
    background-color: rgb(190, 11, 182);
    color: rgb(70, 61, 87);
    border-radius: 100px;
    text-align: center;
    margin-left: 42%;
    width: 290px;
    height: 50px;
    font-size: 20px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 19, 19);
    font-size: 20px;
    opacity: 1; /* Firefox */
  }
.opbutton{
    display:flex;
    margin-left: 25%;
   
}
#operation {
    background-color: rgb(191, 26, 197);
    text-align: center;
   
    border: 2px solid rgb(24, 23, 23);
    width: 300px;
    height: 50px;
    margin-left: 42%;
    border-radius: 10px;
    font-size: 25px;

}

#result {
    background-color: rgb(107, 50, 199);
    color: white;
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 50px;
    margin-left: 42%;
    border-radius: 10px;
    font-size: 25px;

}

h1 {
    margin: auto;
    text-align: center;
}
::placeholder{
color: white;
}
